<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/blogs">Blogs</a>
    <button onclick="addBlog()">Add Blog</button>
    <button onclick="logout()">Logout</button>
</nav>