<%- include('partials/header.ejs') %> 
<h1>Auth Page</h1>
<Form id="register">
  <label for="name">Name</label>
  <input id="nameRegister" type="text" name="name" id="name" required /><br />
  <label for="email">Email</label>
  <input id="emailRegister" type="email" name="email" id="email" required /><br />
  <label for="password">Password</label>
  <input id="passwordRegister" type="text" name="password" id="password" required /><br />
  <button type="submit">Register</button>
</Form>
<br />
<hr />
<br />
<Form id="login">
  <label for="email">Email</label>
  <input id="emailLogin" type="email" name="email" id="email" required /><br />
  <label for="password">Password</label>
  <input id="passwordLogin" type="text" name="password" id="password" required /><br />
  <button type="submit">Login</button>
</Form>
<script>
  const formRegister = document.querySelector("form#register");
  formRegister.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(formRegister);
    const data = Object.fromEntries(formData.entries());
    fetch("/api/users/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        localStorage.setItem("token", data.token);
        localStorage.setItem("user", JSON.stringify(data.user));
        window.location.href = "/";
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });

  const formLogin = document.querySelector("form#login");
  formLogin.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(formLogin);
    const data = Object.fromEntries(formData.entries());
    fetch("/api/users/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);  
        localStorage.setItem("token", data.token);
        localStorage.setItem("user", JSON.stringify(data.user));
        window.location.href = "/";
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });
</script>
<%- include('partials/footer.ejs') %>
